body {
    background-color:black;
    display:flex;
    
    font-size:12px;
}

/* calculator box settings */

.calculatorBox {

    margin-top:10%;
    border: 1px solid white;
    color:white;
    display:flex;
    width:800px;
    margin-left:20%;
    

}

.formRow {
    display: flex;
    margin-bottom: 10px;
    
  }

label {
    width: 150px; /* Adjust as needed */
    text-align: right;
    margin-right: 10px;
  }
  
input {
    width:100px;
    flex: 1;
    font-size:12px;
    
  }

  .input-long {
    width: 220px;
  }
  
  .input-short {
    width: 100px;
    max-width:100px;
  }


  /* menu box */

.menu {
    
    color:white;
    margin-left:1%;
    margin-top:20px;
}

.resizeable {
  
    resize: height;
    overflow: auto;
    max-width:221px;
  
}