body {
    min-height: 99vh;
    background-image: linear-gradient(to right top, #250da0, #2b34b2, #3851c2, #4b6cd0, #6286db, #5e9ae7, #60adf0, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
    display:flex;
    font-size:12px;
    
}

/* calculator box settings */

.calculatorBox {

    padding-top:20px;
    margin-top:7%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius:5px;
    color:white;
    display:flex;
    width:450px;
    margin-left:20%;
    height:320px;
    min-width:400px;
    background-color: rgba(19, 7, 86, 0.274);
    

}

.formRow {
    display: flex;
    margin-bottom: 10px;
    
  }

label {
    width: 150px; /* Adjust as needed */
    text-align: right;
    margin-right: 10px;
  }
  
input {
    width:100px;
    flex: 1;
    font-size:12px;
  }

input[type="number"]:focus, input[type="date"]:focus, input[type="text"]:focus {
  outline:none;
}

textarea {
  outline:none;
}

  .input-long {
    width: 220px;
  }
  
  .input-short {
    width: 100px;
    max-width:100px;
  }


  /* menu box */

.menu {
    
    color:white;
    margin-left:1%;
    
}

.resizeable {
  
    resize:none;
    overflow:scroll;
    min-width:30%;
    font-size: 8px;
  
}

input[type="submit"] {
  background-color:rgb(43, 139, 234);
  color:white;
  align-content: center;
  margin-left:34%;
  border:none;
  border-radius:5px;
  width:200px;
  height:30px;
  margin-top:10px;
  text-transform:capitalize;
  letter-spacing:2px;
  font-family:Arial, Helvetica, sans-serif;
  cursor:pointer;
  transition: box-shadow 0.4s;
  transition: background-color 0.4s;

  
}

input[type="submit"]:hover {
  background-color:rgb(81, 160, 239);
  color:white;
  box-shadow:0 1px 8px rgba(0, 0, 0, 0.2);
  transition: background-color 0.4s;
  
}
