body {
    min-height: 99vh;
    background-image: linear-gradient(to right top, #250da0, #2b34b2, #3851c2, #4b6cd0, #6286db, #5e9ae7, #60adf0, #69bff8, #52cffe, #41dfff, #46eefa, #5ffbf1);
    display:flex;
    font-size:20px;
    
}

/* calculator box settings */

.calculator_box {

    padding-top:40px;
    margin-top:3%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius:5px;
    color:white;
    display:flex;
    width:700px;
    margin-left:15%;
    height:520px;
    min-width:400px;
    background-color: rgba(19, 7, 86, 0.274);
    display:none;

    
}

.form_row {
    display: flex;
    margin-bottom: 15px;
    
  }

label {
    width: 250px; /* Adjust as needed */
    text-align: right;
    margin-right: 20px;
  }
  
input {
    width:200px;
    flex: 1;
    font-size:20px;
  }

input[type="number"]:focus, input[type="date"]:focus, input[type="text"]:focus {
  outline:none;
}

textarea {
  outline:none;
  height:200px;
  font-size: 12px;
}

  .input_long {
    width: 260px;
    max-width:260px;
  }
  
  .input_short {
    width: 200px;
    max-width:200px;
  }

.resizeable {
  
    resize:none;
    overflow:scroll;
    min-width:30%;
    min-height:90px;
  
}

input[type="submit"] {
  background-color:rgb(43, 139, 234);
  color:white;
  align-content: center;
  margin-left:36%;
  border:none;
  border-radius:5px;
  width:200px;
  height:50px;
  margin-top:20px;
  text-transform:capitalize;
  letter-spacing:2px;
  font-family:Arial, Helvetica, sans-serif;
  cursor:pointer;
  transition: box-shadow 0.4s;
  transition: background-color 0.4s;

  
}

input[type="submit"]:hover {
  background-color:rgb(81, 160, 239);
  color:white;
  box-shadow:0 1px 8px rgba(0, 0, 0, 0.2);
  transition: background-color 0.4s;
  
}

/* MENU SECTION ### ### ### ### ### ### ### */

  /* menu box */

  .menu {
    
    color:rgb(255, 255, 255);
    font-weight:1000;
    margin-left:1%;
    display:flex;
    flex-direction:column;
    width: 200px;
    background-color: rgba(19, 7, 86, 0.274);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    height:210px;
    
}

/*--- menu buttons ---*/ 


#performance, #statistics, #daily_report, #target_tracker, #search {
  
  background-color: rgba(71, 153, 229, 0.721);
  border-radius: 2px;
  height:30px;
  width:180px;
  display:flex;
  justify-content:center;
  line-height:30px;
  margin-top:10px;
  margin-left:10px;
  transition: box-shadow 0.4s;
  transition: margin-left 0.4s;
  
}

#performance:hover, #statistics:hover, #daily_report:hover, #target_tracker:hover, #search:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  margin-left: 12px;
  cursor:pointer;
}

#performance:active, #statistics:active, #daily_report:active, #target_tracker:active, #search:active {
  background-color: rgba(42, 135, 223, 0.721);
}


.search_box {

  padding: 0;
  margin-left:-85%;
  margin-top:-18%;
  height: 42px;
  width: 99%;
  background-color:white;
  border-radius:25px;
  display:none;
 
}

.search_box_input {
  width:95%;
  height:40px;
  border-radius:25px;
  border:none;
  margin-left:5%;
}